
h1 .stdName{
    color: #6214f3;
}

.main-buttons{
   height:500px;
}
.main-buttons button{
    border: none;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    color: black;
    background-color: white;
    font-size: 20px;
    
}
.main-buttons .logoutButton{
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    color: white;
    background: #da2a56;
}
