*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #9791ff !important;
    font-family: 'Montserrat', sans-serif;
}
a,li{
    text-decoration: none;
}
.login-button{
    outline: none !important;
    border: none !important;
    height:35px;
    border-radius: 5%;
    width:100px;
    color: aliceblue;
    background-color:#6153a6;
    display: block;
    margin: auto;
}
.Signup{
    top:20%;
}
.form-div input{
    height:50px;
    width:300px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
}
@media(max-width:768px){
    .form-div input{
        height:45px;
    } 
}